doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Talk with
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 Talk with 
        main 
            form#nickname
                input(type="text", placeholder="choose a nickname", require)
                button Save
            ul
            form#message
                input(type="text", placeholder="write a message", require)
                button Send

        script(src="/public/js/app.js")