doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Chat with
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 Chat with 
        main
            div#username
                form
                    input(placeholder="Write a Name", required, type="text")
                    button Save
            div#roomname
                form
                    input(placeholder="Room Name", required, type="text")
                    button Enter Room
                h4 Room List
                ul
            div#room
                h3
                ul
                form#message
                    input(placeholder="Write a message", required, type="text")
                    button Send

        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")
